@import '../../config/_variables.scss';

.PreviousRuler {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-crop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.7) 100%
    );
    z-index: 0;
  }

  &-info,
  &-statistics {
    position: relative;
    z-index: 1;
  }

  &-statistics {
    display: flex;
  }

  &-statistic {
    display: flex;
    align-items: center;
    padding: $size-7;

    &--winner {
      background-color: rgba($color: $primary, $alpha: 0.8);
      justify-content: flex-start;

      .statistic {
        margin-left: $size-7;
      }
    }

    &--looser {
      background-color: rgba($color: $secondary, $alpha: 0.8);
      justify-content: flex-end;

      .statistic {
        margin-right: $size-7;
      }
    }

    .statistic {
      font-size: 150%;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
  }

  &-info {
    padding: $size-5 $size-5 $size-5 $size-1;
  }

  &-name {
    font-size: 220%;
    margin: 0;
  }

  &-result {
    position: absolute;
    left: 0rem;
    bottom: 52%;
    padding: 6px;

    @include from($desktop) {
      bottom: 36%;
    }

    &--winner {
      background-color: rgba($color: $primary, $alpha: 0.8);
    }

    &--looser {
      background-color: rgba($color: $secondary, $alpha: 0.8);
    }
  }

  &-meta {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include from($desktop) {
      flex-direction: row;
    }

    &-right {
      text-align: left;
      margin-top: $size-7;

      @include from($desktop) {
        text-align: right;
        margin: 0;
      }
    }
  }

  &-date {
    font-weight: 900;
  }

  &-reportButton {
    border: $white 1px solid;
    outline: none;
    background-color: transparent;
    color: $white;
    padding: $size-7 $size-5;

    &:hover {
      background-color: rgba($color: $primary, $alpha: 0.8);
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.25s;
    }
  }
}
