@import '../../config/_variables.scss';

.HeroSlider {
  z-index: 900;
  width: 100%;

  @include until($touch) {
    height: 100vh;
  }

  &-content {
    width: 100%;
    margin-right: $size-7;
    margin-left: 0;
    padding: $touch-header-height 0;
    background-position-x: 50%;

    @include desktop {
      padding: $desktop-header-height + ($desktop-header-height / 3)
        (100vw - $max-page-width) / 2;
    }

    @include until($desktop) {
      .column {
        padding: 0;
      }
    }
  }
}
