@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/grid/columns.sass';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font: 400 100% 'Lato';
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}
