@import '../../config/_variables.scss';

.Message {
  background-color: #ebebeb;
  padding: $size-3;
  position: relative;

  &-title {
    h4 {
      font-size: 1.125em;
      font-weight: 300;
    }

    h1 {
      font-size: 2em;
    }

    h4,
    h1 {
      margin: 0;
    }
  }

  &-text {
    display: flex;
    align-items: center;

    p {
      margin: 0;
    }
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $size-5;

    @include from($desktop) {
      padding: 0 0 0 $size-4;
      position: relative;
    }
  }
}
